.profile-header {
    display: flex;
    margin-bottom: 44px;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px 0px 70px;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 50%;
    overflow: hidden;
    background-color : #fff;
    cursor: pointer;
}

.profile-img img {
    max-width: 150px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info-top button{
	margin-top : 20px;
	border:0px;
	border-radius: 4px;
	padding: 5px 10px;
	color: white;
    font-weight: 500;
    background-color: #0095f6;
    cursor: pointer;
}

.profile-username {
    font-size: 1.7em;
    font-weight: 200;
}

.profile-edit-btn {
    margin-left: 20px;
    padding: 5px 9px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 94px;
    height: 30px;
    background-color: #fafafa;
    font-weight: 400;
    cursor: pointer;
}

#setting-btn {
    margin-left: 5px;
    padding: 8px;
    font-size: 1.5em;
    cursor: pointer;
}

.profile-info-middle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info-middle-item {
    margin-right: 40px;
    font-size: 1.2em;
    font-weight: 300;
}

.cursor-pointer {
    cursor: pointer;
}

.profile-info-middle-item span {
    font-size: 0.85em;
    font-weight: 500;
}

.profile-info-bottom pre{
    font-size: 1.2em;
}

section {
    border-top: 1px solid #dbdbdb;
}

.board-menu {
    display: flex;
    justify-content: center;
}

.board-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1px;
    border-top: 1px solid black;
    width: 57px;
    height: 53px;
    cursor: pointer;
}

.board-menu-item i {
    font-size: 0.8em;
}

.board-menu-item span {
    font-size: 1em;
    font-weight: 300;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
}

.board-item-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.board-item {
    position: relative;
    display : flex;
    justify-content: center;
    align-items : center;
    width: 290px;
    height: 290px;
    background-color : #dbdbdb;
    overflow: hidden;
    cursor: pointer;
}

.board-item img {
    max-width: 290px;
}

.board-item-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 290px;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.board-item-hover:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
}

.board-item-like {
    margin-right: 30px;
}

.board-item-hover i {
    margin-right: 5px;
    font-size: 1.2em;
}

.board-item-hover span {
    font-size: 1.2em;
}

.modal-container {
    position: fixed;
    top: 0px;
    left: 0px; 
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}

.show {
    display: flex;
}

.setting-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    overflow: hidden;
}

.setting-modal button {
    border: 0px;
    border-top: 1px solid #dbdbdb;
    width: 400px;
    height: 48px;
    background-color: white;
    cursor: pointer;
    font-weight: 300;
}

#close-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.5em;
    color: rgb(255,255,255);
    cursor: pointer;
} 

.board-modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 900px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;

}

.board-modal-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100%;
    background-color: black;
}

.board-modal-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.board-modal-section{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;

}

.board-modal-profile{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #dbdbdb;
}

.profile-img-border{ 
    margin: 0px 5px;
    border: 0px;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.profile-img-border img{
    max-width: 30px;
}

.username-lb{
    display: flex;
    align-items: flex-end;
    margin: 0px 10px;
    padding: 0px 0px 5px;
}

.username-lb h1{
    font-size: 0.9em;
    font-weight: 500;
    color: #222;
}

.board-modal-contents{
    height: 700px;
    border-bottom: 1px solid #dbdbdb;
}

.board-modal-content{
    display: flex; 
    padding: 25px 10px 15px;
    
}

.board-modal-content pre{
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.board-modal-comment{
    overflow: auto;
}



.board-modal-items{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #dbdbdb;
}

.board-modal-items i{
    margin-right: 10px;
    font-size: 1.6em;
}

.board-modal-items i:hover{
    color: rgb(136, 136, 136);
    cursor: pointer;
}

.board-modal-like-info{
    padding: 15px 10px;
    border-bottom: 1px solid #dbdbdb;
}

.board-modal-comment-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    height: 50px;
}

.board-modal-comment-input input{
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
}

.board-modal-comment-input button{
    border: none;
    width: 40px;
    height: 100%;
    background-color: white;
    font-weight: 500;
    color: #0095f6;
    cursor: pointer;


}