<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.springboot.instagram.domain.board.BoardRepository"> <!-- 해당 인터페이스로 잡아주어야한다. -->
 	 <insert id="insertBoard" parameterType="com.springboot.instagram.domain.board.Board">
 	 	insert into
 	 		board_mst
 	 	values(
 	 		0,
 	 		#{board_img},
 	 		#{board_content},
 	 		#{user_id},
 	 		now(),
 	 		now()
 	 	);
 	 </insert>
 	 <select id="getProfileBoardListByUsername" resultType="com.springboot.instagram.domain.board.ProfileBoard" parameterType="String">
 	 	SELECT
			bm.id,
			bm.board_img,
			bm.board_content,
			bm.user_id,
			um.username,
			bm.update_date
		FROM
			board_mst bm
			LEFT OUTER JOIN user_mst um ON(bm.user_id = um.id)
		WHERE
			um.username = #{username}
		ORDER BY
			bm.update_date DESC,
			bm.id DESC; 
			<!-- DESC는 역순으로 들고온다는 의미 -->
		</select>
		
		<select id="getBoardById" resultType="com.springboot.instagram.domain.board.Board" parameterType="Integer">
			select
				*
			from
				board_mst
			where
				id = #{board_id};
		</select>
		<select id="getIndexBoardListByUsername" resultType="com.springboot.instagram.domain.board.IndexBoard" parameterType="String">
		SELECT
			sm.to_user_id AS user_id,
			um.username,
			ud.profile_img,
			bm.id AS board_id,
			bm.board_img,
			bm.board_content,
			bm.update_date
		FROM
			subscribe_mst sm
			LEFT OUTER JOIN user_mst um ON(um.id = sm.from_user_id)
			LEFT OUTER JOIN user_dtl ud ON(ud.id = um.id)
			inner JOIN board_mst bm ON(bm.user_id = sm.to_user_id)
	 
		WHERE
			um.username = #{username}
	
		UNION 

		SELECT
			bm.user_id,
			um.username,
			ud.profile_img,
			bm.id AS board_id,
			bm.board_img,
			bm.board_content,
			bm.update_date
		FROM
			board_mst bm
			LEFT OUTER JOIN user_mst um ON(um.id = bm.user_id)
			LEFT OUTER JOIN user_dtl ud ON(ud.id = um.id)
		WHERE
			um.username = #{username}
	
		ORDER BY
			update_date DESC,
			board_id DESC; 
		</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  
  